[Unit]
Description=DRT user settings
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/opt/drt-user/drt-user.sh

[Install]
WantedBy=basic.target
